*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;   
}

h1{    

    color: rgb(226, 232, 234);
    margin: 10px 0 20px 0;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

h2{   
    
    color: rgb(226, 232, 234);
    margin: 60px 0px 0px 0px ;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

div{ 

    display: flex;
}

h4{    

    color: rgb(174, 169, 187);
    margin: 200px 0px 20px 400px;
    font-size: 35px;
    
    justify-content: right;
    align-items: right; 
}

.form-group{

    margin: 0px 0px 0px 795px;       
}

h3{

    color: rgb(226, 232, 234);
    margin: 35px 0px 0px 1085px;

}

body {

    background-image: url(LOGO.jpg);
    background-color: black;
}

h2 {

    color: rgb(226, 232, 234);
    margin: 0px 0 px 0;
    font-size: 30px;
}

h4 {

    color: rgb(247, 249, 250);
    margin: 5px 0 1px 0;
    font-size: 20px;
}

.box,
form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setor,
.prioridade {

    margin: 7px 0 7px 0;
    font-size: 18px;
    border-radius: 5px;
}

.solicita {

    width: 600px;
    height: 160px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {

    margin: 10px 0 1px 0;
    width: 250px;
    height: 30px;
    border-radius: 6px;
    padding: 0 5px 0 5px;
}

textarea {

    margin: 10px 0 1px 0;
    width: 250px;
    height: 30px;
    border-radius: 6px;
    padding: 0 5px 0 5px;
}

button {

    font-size: 17px;
    margin-top: 20px;
    width: 170px;
    height: 30px;
    border-radius: 6px;
    background-color: #a7cecf;
}

.Usuario{
    
    font-size: 20px;
    font-weight: bold;
    margin: 150px 0px 0px 240px;
    width: 300px;
    height: 110px;
    border-radius: 6px;
    background-color: #a7cecf;    
    display:block;  
    font-size:1.2em;
    text-align:center;
    text-decoration: none;
    padding: 12px 15px;  
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
    background-size:contain;
    background-position: -250px center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .Usuario:hover {

    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .Usuario:active {

    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .Administrador{ 

    font-size: 20px;
    font-weight: bold;
    margin: 150px 0px 0px 470px;
    width: 300px;
    height: 110px;
    border-radius: 6px;
    background-color: #a7cecf; 
    display:block;  
    font-size:1.2em;
    text-align:center;
    padding: 12px 15px;  
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
    background-size:contain;
    background-position: -250px center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .Administrador:hover {

    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .Administrador:active {

    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }













